<?xml version="1.0" encoding="UTF-8"?>
<config>
  <properties>
    <!-- HTTP server's port. Default value is 8080. -->
    <MainProgram.httpServerPort>80</MainProgram.httpServerPort>
    
    <!-- min count of theads for HTTP server -->
    <!--  <MainProgram.httpThreadMinCount>10</MainProgram.httpThreadMinCount> -->

    <!-- max count of theads for HTTP server -->
    <!--  <MainProgram.httpThreadMaxCount>25</MainProgram.httpThreadMaxCount> -->
  </properties>
</config>