.container{
    background: none repeat scroll 0 0 #C2C2C2;
    display: block;
    margin: 5px;
    padding: 3px 4px;
    width: 582px;
    overflow: auto;
}

.fileUpload{
    margin: 1px;
}

.delete{
    margin: 2px;
    float: right;
}