<?xml version="1.0" encoding="UTF-8"?>
<module>
  <displayName>Upload</displayName>
  <description>Client Upload Files to Server.</description>

  <!-- Configure dynamic libraries. -->
  <dynamicLibraries>
    <dynamicLibrary>
      <path>Upload.dll</path>
      <!-- path to find the file in module's directory -->
      <platform>Windows</platform>
      <!-- platform of the library, such as Windows, Linux x86, Linux x64 -->
      <version>0.3</version>
      <!-- for future use -->
    </dynamicLibrary>
  </dynamicLibraries>

  <!-- Configure client menu which will be should in all client pages. -->
  <clientMenu>
    <item>
      <name>Upload</name>
      <!-- The name will be used in the body of "a" tag. -->
      <description>Page for Uploading</description>
      <!-- optional, showed in "title" attribute of "a" tag -->
      <url>/upload/#</url>
      <!-- The URL will be used in "href" attribute in "a" tag. -->
      <orderNumber>1000</orderNumber>
      <!-- a float number for the item's order -->
    </item>
    <item>
      <name>About</name>
      <url>/home/#about</url>
      <orderNumber>100</orderNumber>
    </item>
  </clientMenu>

  <!-- Map URLs and servlets. -->
  <servlets>
    <servlet>
      <name>RedirectToHomeServlet</name>
      <!-- The name of servlet. Names are separated in each module. -->
      <url>/</url>
      <!-- the exact URL for the servlet -->
    </servlet>
    <servlet>
      <name>UploadServlet</name>
      <url>/upload/upload</url>
    </servlet>
    <servlet>
      <name>TreeViewServlet</name>
      <url>/upload/treeview</url>
    </servlet>
  </servlets>

  <!-- Map static resources. -->
  <staticResources>
    <staticResource>
      <!-- the directory path in module's directory. It may use ".." to go to parent directory. -->
      <directory>web/</directory>
      <!-- the context path for the resources -->
      <contextPath>/upload</contextPath>
    </staticResource>
  </staticResources>
</module>