<?xml version="1.0" encoding="UTF-8"?>
<module>
  <displayName>UnsupportPlatformModule</displayName>
  <description>The module does not have DLL for Windows. For test only.</description>

  <!-- Configure dynamic libraries. -->
  <dynamicLibraries>
    <dynamicLibrary>
      <path>UnsupportPlatformModule_x86.so</path>
      <platform>Linux x86</platform>
      <version>0.1</version>
    </dynamicLibrary>
    <dynamicLibrary>
      <path>UnsupportPlatformModule_x64.so</path>
      <platform>Linux x64</platform>
      <version>0.1</version>
    </dynamicLibrary>
  </dynamicLibraries>

  <!-- Configure client menu which will be should in all client pages. -->
  <clientMenu>
    <item>
      <name>UnsupportPlatformModule</name>
      <description>Create a local server in your machine.</description>
      <url>/unsupport_platform_module/</url>
      <orderNumber>96</orderNumber>
    </item>
  </clientMenu>

  <!-- Map URLs and servlets. -->
  <servlets>
    <servlet>
      <name>ModulesListServlet</name>
      <url>/installer/modules_list</url>
    </servlet>
    <servlet>
      <name>CheckDependenciesServlet</name>
      <url>/installer/check_dependencies</url>
    </servlet>
    <servlet>
      <name>CreateServerServlet</name>
      <url>/installer/create_server</url>
    </servlet>
    <servlet>
      <name>GetUrlServlet</name>
      <url>/installer/get_url</url>
    </servlet>
  </servlets>

  <!-- Map static resources. -->
  <staticResources>
    <staticResource>
      <directory>web/</directory>
      <contextPath>/unsupport_platform_module</contextPath>
    </staticResource>
  </staticResources>
</module>